body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
}

/*COLORS*/
/*#1d1d1f darkgrey*/
/*#434344 grey*/
/*#dadada lightgrey*/
/*#fff white*/
/*#0071e3 blue*/